services:
  file-service:
    build: .
    networks:
      - shared-network
      - filedb-network
    ports:
      - "6010:6010"
    container_name: file-service
    depends_on:
      - file-db
    environment:
      - SPRING_APPLICATION_NAME=${SPRING_APPLICATION_NAME}
      - SERVER_PORT=${SERVER_PORT}
      - CORS_ALLOWED_ORIGINS=${CORS_ALLOWED_ORIGINS}
      - LOGGING_LEVEL=${LOGGING_LEVEL}
      - SPRING_DATASOURCE_URL=${SPRING_DATASOURCE_URL}
      - SPRING_DATASOURCE_DRIVER=${SPRING_DATASOURCE_DRIVER}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
      - SPRING_JPA_HIBERNATE_DDL_AUTO=${SPRING_JPA_HIBERNATE_DDL_AUTO}
      - SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=${SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL}
      - SPRING_JPA_DATABASE=${SPRING_JPA_DATABASE}
      - SPRING_JPA_DATABASE_PLATFORM=${SPRING_JPA_DATABASE_PLATFORM}
      - SPRING_SERVLET_MULTIPART_ENABLED=${SPRING_SERVLET_MULTIPART_ENABLED}
      - SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE=${SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE}
      - SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE=${SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE}
      - ENCRYPTION_KEY=${ENCRYPTION_KEY}
      - ACCESS_SECRET_KEY=${ACCESS_SECRET_KEY} # Integration line: Auth
      - SERVICE_SECRET_FILE=${SERVICE_SECRET_FILE}  # Integration line: Auth
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3010/api/file/health" ]
      interval: 10s
      timeout: 5s
      retries: 20
  file-db:
    image: 'postgres:13.1-alpine'
    container_name: file-db
    networks:
      - filedb-network
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
networks:
  filedb-network:
    external: true
  shared-network:
    external: true